body {
  background-color: black;
  text-align: center;
  color: white;
}

 #myCanvas{background-image: url("https://media.istockphoto.com/id/1423098321/vector/dark-purple-edge-glow-modern-gradient-abstract-blend-background.jpg?s=612x612&w=0&k=20&c=FpuUIzzyi8ryd3lXnArlafHYM_Bip5otkOJAa7T4hg4=");
      background-size: 400px 400px;
      border-radius: 30px;
      border: 1px solid rgb(255,255,255);}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}

